<div class="survey-form rounded p-5 position-relative" style="z-index: 10;">

  <div class="row justify-content-center">
    <div class="col-lg-8 text-center">
      <div class="date-range-container">
      <h2 class="mb-2 fw-bold">Kdy vyrážíte?</h2>
      <p class="text-muted mb-5">Zadejte počáteční datum své cesty. Potvrďte klávesou enter.</p>
      
        <div class="input-group mb-3 mt-5">
          <span class="input-group-text">Od</span>
          <input id="startDate" [(ngModel)]="startDate" (ngModelChange)="onDateChange()" type="date" class="form-control" id="startDate" aria-label="Start date">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">Do</span>
          <input id="endDate" [(ngModel)]="endDate" (ngModelChange)="onDateChange()" type="date" class="form-control" id="endDate" aria-label="End date">
        </div>
      </div>
    </div>
  </div>
</div>