<div class="container-fluid vh-100 p-0">
    <div class="row h-100 g-0">
    
      <div class="col-lg-5 bg-dark text-white d-flex flex-column justify-content-center position-relative h-100">
      
        <div class="logo ps-4 pt-4 position-absolute top-0 start-0">
          <span class="display-4" style="font-size: 130px; color: #D90429;">I</span>
        </div>
        
      
        <div class="welcome-text text-center py-5">
          <h1 class="display-5 mb-4">Začněte plánovat<br>svou cestu.</h1>
          <p class="lead">
            Založte si svůj účet a poznejte všechny<br>
            skvělé funkce aplikace Itinero.
          </p>
        </div>
        
      
        <div class="red-circle-top position-absolute top-0 end-0"></div>
        <div class="red-circle-bottom position-fixed start-0"></div>
        </div>
      
   
      <div class="col-lg-7 z-2 bg-white d-flex align-items-center justify-content-center h-100">
        <div class="registration-form-container p-4 w-75">
          <h2 class="text-muted mt-2">Registrace</h2>
          
          <form (ngSubmit)="onRegister()">
         
            <div class="row mb-3">
              <div class="col-md-6 mb-3 mb-md-0">
                <label for="firstName" class="form-label text-muted">Jméno</label>
                <input [(ngModel)]="firstName" name="firstName" type="text" class="form-control bg-light border-0 py-3" id="firstName" placeholder="">
              </div>
              <div class="col-md-6">
                <label for="lastName" class="form-label text-muted">Příjmení</label>
                <input [(ngModel)]="lastName" name="lastName" type="text" class="form-control bg-light border-0 py-3" id="lastName" placeholder="">
              </div>
            </div>
            
        
            <div class="mb-3">
              <label for="email" class="form-label text-muted">E-mail</label>
              <input [(ngModel)]="email" type="email" name="email" class="form-control bg-light border-0 py-3" id="email" placeholder="">
            </div>
            
          
            <div class="mb-3">
              <label for="password" class="form-label text-muted">Heslo</label>
              <input [(ngModel)]="password" type="password" name="password" class="form-control bg-light border-0 py-3" id="password" placeholder="">
            </div>
            
         
            <div class="mb-4">
              <label for="confirmPassword" class="form-label text-muted">Potvrzení hesla</label>
              <input [(ngModel)]="confirmPassword" name="confirmPassword" type="password" class="form-control bg-light border-0 py-3" id="confirmPassword" placeholder="">
            </div>
            
        
            <div class="d-grid gap-2 mb-4">
              <button class="btn btn-danger py-3" type="submit">Zaregistrovat se</button>
            </div>
            
         
            <div class="social-registration">
              <div class="d-grid gap-2 mb-3">
                <button class="btn btn-outline-secondary py-2" type="button">
                  <i class="bi bi-google me-2"></i> Sign in with Google
                </button>
              </div>
              <div class="d-grid gap-2 mb-3">
                <button class="btn btn-outline-secondary py-2" type="button">
                  <i class="bi bi-apple me-2"></i> Sign in with Apple
                </button>
              </div>
              <div class="d-grid gap-2">
                <button class="btn btn-outline-secondary py-2" type="button">
                  <i class="bi bi-facebook me-2"></i> Sign in with Facebook
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>