<div class="tab-content">
    <div class="placeholder-content">
        <div class="day-planning-container">
            <div class="day-header border-bottom pb-2 mb-4">
                <h3>
                    Den {{ selectedDay }}
                    <span class="text-muted ms-4">
                        {{ currentDayData?.date | date:'d.M.yy' }}
                    </span>
                </h3>

            </div>

            <div class="row mt-4">
                <div class="col-md-6 mb-4">
                    <h5>Popis dne</h5>
                    <textarea class="form-control" rows="5" [(ngModel)]="dayDescription"
                        [placeholder]="currentDayData?.description || 'Popis dne'"
                        (ngModelChange)="updateDayDescription()"></textarea>

                    <div class="col mt-3">
                        <h5>Shrnutí dne</h5>
                        <div class="row g-3 mt-1">
                            <div class="">
                                <div
                                    class="summary-card bg-danger text-white p-3 text-center rounded d-flex flex-column h-100">
                                    <div>Počet aktivit:</div>
                                    <div class="fs-4 mt-1 flex-grow-1 d-flex align-items-center justify-content-center">
                                        {{ totalActivities }}
                                    </div>
                                </div>
                            </div>
                            <div class="">
                                <div
                                    class="summary-card bg-danger text-white p-3 text-center rounded d-flex flex-column h-100">
                                    <div>Odhadovaný čas:</div>
                                    <div class="fs-4 mt-1 flex-grow-1 d-flex align-items-center justify-content-center">
                                        {{ totalDuration }}h
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-6 mb-4">
                    <h5>Aktivity a atrakce</h5>

                    <div *ngFor="let activity of activities" class="activity-card mb-3 border rounded overflow-hidden">
                        <div class="row align-items-center mx-0">
                            <div class="col-md-6 bg-light p-3">
                                <div class="fw-medium">{{ activity.name }}</div>
                                <div class="text-muted">{{ activity.description }}</div>
                            </div>
                            <div class="col-md-2 text-center py-2">{{ activity.estimatedtime }}</div>
                            
                            <!--
                                                        <div class="col-md-2 text-center py-2">{{ activity.price }}</div>
                            <div class="col-md-2 text-center py-2">
                                <a [routerLink]="activity.link" style="color: inherit; text-decoration: none;">
                                    <i class="bi bi-arrow-right"></i>
                                </a>
                            </div>
                            -->

                        </div>
                    </div>

                    <div class="d-flex justify-content-between mt-5">
                        <span class="text-muted"></span>
                        <a [routerLink]="'/day-itinarary'" style="text-decoration: none;">
                            <span class="text-primary cursor-pointer">Nová aktivita</span>
                        </a>
                    </div>
                </div>


                <!-- Success message -->
                <div *ngIf="saveSuccess" class="alert alert-success mb-3" role="alert">
                    Změny byly úspěšně uloženy.
                </div>

                <a><button class="btn btn-primary mx-2" (click)="updateDayDescription()">Potvrdit</button></a>
            </div>
        </div>
    </div>
</div>