<div class="container-fluid p-0">
    <div class="row g-0">
      <div class="col-md-3 col-lg-2">
        <app-sidebar></app-sidebar>
      </div>
      
      <div class="col-md-9 pt-5">
        <div class="container py-4 px-4">

          <h1 class="mb-2">Nastavení</h1>
          <p class="text-muted mb-4">Správa účtu a nastavení předvoleb</p>
          <hr>
          
          <h2 class="mb-4">Nastavení profilu</h2>
          
          <form>
            <div class="row mb-4">

              <div class="col-md-6 mb-3">
                <div class="form-floating">
                  <input type="text" class="form-control bg-light" id="firstName" placeholder="Jméno">
                  <label for="firstName">Jméno</label>
                </div>
              </div>
              
              <div class="col-md-6 mb-3">
                <div class="form-floating">
                  <input type="password" class="form-control bg-light" id="password" placeholder="Heslo">
                  <label for="password">Heslo</label>
                </div>
              </div>
              
              <div class="col-md-6 mb-3">
                <div class="form-floating">
                  <input type="text" class="form-control bg-light" id="lastName" placeholder="Příjmení">
                  <label for="lastName">Příjmení</label>
                </div>
              </div>
              
              <div class="col-md-6 mb-3">
                <div class="form-floating">
                  <select class="form-select bg-light" id="currency">
                    <option selected>Preferovaná měna</option>
                    <option value="CZK">CZK</option>
                    <option value="EUR">EUR</option>
                    <option value="USD">USD</option>
                  </select>
                </div>
              </div>
              
              <div class="col-md-8 mb-3">
                <div class="form-floating">
                  <input type="email" class="form-control bg-light" id="email" placeholder="E-mail">
                  <label for="email">E-mail</label>
                </div>
              </div>
            </div>
            
            <div class="row mb-5 align-items-center">
              <div class="col-auto">
                <img [src]="'profile.jpg'" class="rounded-circle" width="100" height="100" alt="Profile picture">
              </div>
              <div class="col-auto">
                <button class="btn btn-outline-secondary btn-sm">Změnit fotku</button>
              </div>
              <div class="col-auto">
                <button class="btn text-secondary btn-sm">
                  <i class="bi bi-trash"></i>
                </button>
              </div>
            </div>
            
            <hr class="mb-4">
            
            <div class="mb-5">
              <span class="badge bg-light text-secondary p-3 fs-6">Moje ID: F56UAB</span>
            </div>
            
            <div class="d-flex justify-content-end gap-3">
              <a [routerLink]="'/dashboard'"><button type="button" class="btn btn-outline-secondary">Zahodit změny</button></a>
              <a [routerLink]="'/dashboard'"><button type="button" class="btn btn-danger">Uložit změny</button></a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>