.form-control, 
.form-floating .form-select {
  background-color: #6c757d;
  border-radius: 10px;
  border: none;
  padding: 1.5rem 0.75rem 0.75rem;
}
.btn-danger {
  background-color: #e7333f;
  border-color: #e7333f;
  border-radius: 8px;
}

.btn-outline-secondary {
  border-radius: 8px;
}

img.rounded-circle {
  object-fit: cover;
  border: 1px solid #f8f9fa;
}

hr {
  opacity: 0.2;
}