<div class="container-fluid p-0">
  <div class="row g-0">
    <!-- Sidebar -->
    <div class="col-md-3 col-lg-2">
      <app-sidebar></app-sidebar>
    </div>
    
   
    <div class="col-md-10 main-content">
      <div class="content-wrapper">
   
        <h1 class="mb-0">Spojte se svými přáteli</h1>
        <a [routerLink]="'/survey'"><button class="btn btn-danger rounded-pill px-4 float-end">Nový výlet</button></a>

        
        <hr class="divider">
       
        <div class="row mb-3">
          <div class="col-md-6">
            <div class="action-box">
              <p class="mb-0">Honza Novák</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="member-box d-flex justify-content-between align-items-center">
              <p class="mb-0">Kája Horáková</p>
              <div class="d-flex align-items-center">
                <span class="role-label me-3">Vlastník</span>
                <img src="assets/images/profile1.jpg" class="rounded-circle small-profile" alt="User profile">
              </div>
            </div>
          </div>
        </div>
        

        <div class="row mb-3">
          <div class="col-md-6">
            <div class="action-box dropdown">
              <p class="mb-0">Odstranit uživatele ze skupiny</p>
              <i class="dropdown-arrow"></i>
            </div>
          </div>
          <div class="col-md-6">
            <div class="member-box d-flex justify-content-between align-items-center">
              <p class="mb-0">Honza Novák</p>
              <div class="d-flex align-items-center">
                <span class="role-label me-3">Member</span>
                <img src="assets/images/profile2.jpg" class="rounded-circle small-profile" alt="User profile">
              </div>
            </div>
          </div>
        </div>
        
      
        <div class="row mb-3">
          <div class="col-md-6">
            <div class="action-box dropdown">
              <p class="mb-0">Používaná měna</p>
              <i class="dropdown-arrow"></i>
            </div>
          </div>
          <div class="col-md-6">
            <div class="member-box d-flex justify-content-between align-items-center">
              <p class="mb-0">Tomáš Veselý</p>
              <div class="d-flex align-items-center">
                <span class="role-label me-3">Member</span>
                <img src="assets/images/profile3.jpg" class="rounded-circle small-profile" alt="User profile">
              </div>
            </div>
          </div>
        </div>
        
        <hr class="divider">
        
    
        <div class="row mt-5">
          <div class="col-6">
          
            <div class="red-decoration"></div>
          </div>
          <div class="col-6 d-flex justify-content-end">
            <button class="btn btn-primary me-3">Odebrat</button>
            <button class="btn btn-primary">Přidat</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>