<div class="container-fluid p-0">
  <div class="row g-0">
    <div class="col-md-3 col-lg-2">
      <app-sidebar></app-sidebar>
    </div>

    <div class="col-md-9 p-4">
      <div class="d-flex justify-content-between align-items-center mb-4 mt-4">
        <h1 class="mb-0">Spojte se se svými přáteli</h1>
        <a [routerLink]="'/survey'"><button class="btn btn-danger rounded-pill px-4">Nový výlet</button></a>
      </div>

      <div class="row">
        <div class="col-lg-8">
          <div class="list-group mb-4 mt-5" *ngIf="friends.length > 0">
            <div *ngFor="let friend of friends" class="d-flex justify-content-between align-items-center mb-3 mt-1 p-2 px-4" style="border: 1px solid #c8cdd1; border-radius: 15px;">
              <div class="d-flex align-items-center">
                <div class="text-start me-3">
                  <h5 class="mb-1">{{ friend.name }}</h5>
                  <p class="mb-0 text-muted">ID: {{ friend.id }}</p>
                </div>
              </div>
              <div class="d-flex align-items-center">
                <img [src]="friend.avatar" class="rounded-circle" width="50" height="50" alt="{{ friend.name }}">
                <button class="btn btn-outline-danger ms-3" (click)="removeFriend(friend.id)">
                  <i class="bi bi-trash"></i> Odebrat
                </button>
              </div>
            </div>
          </div>

          <div class="alert alert-info" *ngIf="friends.length === 0">
            Zatím nemáte žádné přátele. Přidejte si někoho pomocí ID.
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="h-100 d-flex justify-content-center align-items-center" style="cursor: pointer;" [routerLink]="['/survey']">
            <div class="text-center p-5">
              <i class="bi bi-plus-circle"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>