<div class="sidebar text-white h-100 d-flex flex-column">
    <div class="d-flex align-items-center p-3 border-bottom border-secondary">
      <img [src]="'profile.jpg'" class="rounded-circle me-2" width="40" height="40" alt="Profile">
      <div class="dropdown flex-grow-1">
        <a class="nav-link dropdown-toggle dropdown-header" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>Můj účet</a>
        <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="userDropdown">
          <li ngbDropdownItem><a class="dropdown-item" href="">Profil</a></li>
          <li ngbDropdownItem><a class="dropdown-item" href="/settings">Nastavení</a></li>
          <li ngbDropdownItem><hr class="dropdown-divider"></li>
          <li ngbDropdownItem><a class="dropdown-item" href="#">Odhlásit se</a></li>
        </ul>
      </div>
    </div>
    
    <div class="nav-items flex-grow-1">
      <div class="dash-btn">
        <a href="/dashboard"><button class="btn btn-danger rounded-pill px-4">Dashboard</button></a>
      </div>
      <div class="list-group list-group-flush border-0" *ngFor="let item of navigationItems">
        <a [class]="'list-group-item list-group-item-action border-0 text-white '" [routerLink]="item.href" href="#">
          <div class="text-center">{{ item.name }}</div>
        </a>
      </div>
    </div>
  </div>
