<app-questionaire-navbar></app-questionaire-navbar>

<div class="container-fluid min-vh-100 d-flex justify-content-center align-items-center position-relative" style="background-image: url('survey-bg.png'); background-size:cover; background-position: center;">
    <div class="card border-0 mx-3" style="max-width: 600px; border-radius: 20px;">
        <div class="card-body p-md-5 p-4">
            <div class="text-center mb-4">
                <h1 class="fw-bold">Připoj se do Skupiny</h1>
                <p class="text-muted">Přidej se do výletu s dalšími cestovateli a domluv s nimi vše potřebné na jednom
                    místě!</p>
            </div>

            <div class="my-5">
                <div class="input-group mb-3">
                    <input #tripInput type="number" class="form-control form-control-lg text-center border-danger"
                        style="border-radius: 50px; box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25); letter-spacing: 3px; background-color: #f9ecee;"
                        placeholder="Například: T26BLQ" maxlength="10">
                </div>
            </div>

            <div class="text-center mb-5">
                <p class="text-muted mb-1">Sem zkopíruj kód který jsi dostal od přátel.</p>
                <p class="text-muted">Dostaneš se přes něj do jejich výletu.</p>
            </div>

            <div class="d-flex justify-content-between mt-4">
                <a [routerLink]="'/dashboard'"><button class="btn btn-outline-secondary px-4 py-2" style="border-radius: 50px;">Zpět</button></a>
                <a [routerLink]="'/dashboard'"><button class="btn btn-danger px-4 py-2" style="border-radius: 50px;" (click)="joinTrip(tripInput.value)">Potvrdit</button></a>
            </div>
        </div>
    </div>
</div>
