.button-container {
    position: absolute;
    bottom: 15px;
    padding: 40px;
    right: 0px;
}

.btn-step {
    padding-right: 30px;
    padding-left: 30px;
}

.btn {
    padding: 15px 30px 15px 30px;
}