app-questionaire-navbar {
    
    position: sticky;
    top: 0;
    z-index: 100;
}

.btn {
    padding: 15px 30px 15px 30px;
    margin: 20px;;
}

.button-container {
    width: 100%;
    justify-content:end;
    padding: 20px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 10;
}

.survey-container {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('/public/survey-bg.png') !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%; 
    position: relative; 
    padding-top: 20px;
  padding-bottom: 20px;
}
