<div class="survey-form rounded p-5 position-relative" style="z-index: 10;">
  <div class="row justify-content-center">
    <div class="col-lg-8 text-center">
      <h2 class="mb-2 fw-bold">Pozvi přátele</h2>
      <p class="text-muted mb-4">Přidej do výletu další cestovatele
        a domluv s nimi vše potřebné na jednom místě!</p>

      <div class="form-group mb-5">
        <div class="position-relative">
          <input type="text" class="form-control form-control-lg border-danger border-2 rounded-pill py-3 px-4"
            placeholder="Začněte psát, potvrďte klávesou enter..." style="border-width: 3px !important;">
        </div>
      </div>

      <p class="text-muted mb-4">Zkopíruj si tento kód a sděl ho přátelům.
        Dostanou se přes něj do tohoto výletu.
        Kód vždy najdeš v nástěnce.</p>

    </div>
  </div>
</div>